@import 'colors';

.header-blue-dark {
  color: $blue-dark !important;
}

.header-blue-lighter {
  color: $blue-lighter !important;
}

.text-blue-gray {
  color: $blue-gray !important;
}

.fs-lg-0 {
  font-size: 2rem;
}

.fs-sm-0 {
  font-size: 2.1rem;
}

.fs-md-0 {
  font-size: 2.5rem;
}

.fs-xl-0 {
  font-size: 3.2rem;
}

.fs-sm-6 {
  font-size: 0.9rem;
}

.fs-xl-7 {
  font-size: 1.1rem;
}

.features-pill {
  background-color: $red-orange;
}

.features-title-bg {
  background-color: $red-lighter;
}

.rounded-left {
  border-radius: 20px 0 0 20px;
}

.bg-gray-lighter {
  background-color: $gray-lighter;
}

.user-img {
  width: 5rem;
}

.footer-orange {
  background-color: $red-orange;
}

.footer-blue-darkest {
  background-color: $blue-darkest;
}

.text-white {
  color: white;

  &:hover {
    color: $red-orange !important;
  }
}

.form-height {
  height: 2.5rem;
}