@import 'colors';

.header-blue-dark {
  color: $blue-dark !important;
}

.text-blue-gray {
  color: $blue-gray !important;
}

.fs-lg-0 {
  font-size: 2rem;
}

.fs-sm-0 {
  font-size: 2.1rem;
}

.fs-md-0 {
    font-size: 2.5rem;
}

.fs-sm-6 {
  font-size: 0.9rem;
}

.fs-lg-7 {
  font-size: 0.9rem;
}
