@import './colors.scss';

.centered {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

.text-blue-dark {
  color: $blue-dark!important;
}

.btn-red-orange {
  background-color: $red-orange!important;
}
