@import './colors.scss';

.centered {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

.text-blue-dark {
  color: $blue-dark!important;

  &:hover {
    color: $gray-light!important;
  }
}

.btn-red-orange {
  background-color: $red-orange!important;

  &:hover {
    background-color: $red-light !important;
  }
}
